<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/assets/styles.css" />
    </head>
    <body>
        <% include inc/nav.ejs %>
        <h1 style="text-align: center">Welcome to Node Js Project</h1>
    </body>
</html>